asgiref==3.11.1
blinker==1.9.0
certifi==2026.6.17
charset-normalizer==3.4.9
click==8.3.1
Django==6.0.7
Flask==3.1.2
greenlet==3.5.1
idna==3.18
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy==2.3.4
pandas==2.3.3
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.34.2
six==1.17.0
SQLAlchemy==2.0.50
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.7.0
Werkzeug==3.1.3
